
    h1 {
        color: red;                                    <!-- color de letra roja -->
    }

    h2 {
         color: blue;                                  <!-- color de letra azul -->
    }

    h3 {
         color: yellow;                               <!-- color de letra amarilla -->
    } 
  